html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  width: 100%;
  height: auto;
  background-color: #323643;
}
.navigation {
  width: 100%;
  padding: 0 0 0 36.25rem;
  font-family: Andale Mono;
}
@media (max-width: 800px) {
  .navigation {
    width: 100%;
    padding: 1rem 0 1.3rem 0rem;
    background-color: #ff570c;
  }
}
@media (max-width: 500px) {
  .navigation {
    width: 100%;
    padding: 2rem 0 2.3rem 0;
    background-color: #ff570c;
  }
}
.navigation a {
  text-decoration: none;
  font-size: 1rem;
  color: #ff570c;
  padding: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  .navigation a {
    width: 100%;
    color: #323643;
    padding: 1rem 0 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
@media (max-width: 500px) {
  .navigation a {
    padding: 0 0 0 0;
    font-size: 1.5em;
    color: #323643;
    font-weight: bold;
  }
}
.navigation .navigationTop {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .navigation .navigationTop {
    justify-content: space-evenly;
  }
}
.navigation .navigationBottom {
  display: flex;
  justify-content: center;
  padding: 0.2rem 0 0 1.8rem;
}
@media (max-width: 500px) {
  .navigation .navigationBottom {
    padding: 1rem 0 0 0;
    justify-content: space-evenly;
  }
}
.title {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  font-family: andale mono, sans-serif;
  font-weight: bold;
  color: #ff570c;
  padding: 4rem 0 4rem 0;
}
.aboutTeam {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 4rem;
}
@media (max-width: 500px) {
  .aboutTeam {
    flex-direction: column;
  }
}
.aboutTeam .summary {
  color: #ff570c;
  font-family: andale mono, sans-serif;
  font-weight: bold;
  width: 33%;
}
@media (max-width: 500px) {
  .aboutTeam .summary {
    width: 100%;
  }
}
.aboutTeam .summary p {
  font-size: 1.3rem;
  padding: 0.5rem 0 0.5rem 0;
}
.aboutTeam .summary a {
  font-size: 1rem;
  text-decoration: none;
  color: #ff570c;
  border-bottom: 0.01rem solid #ff570c;
}
.aboutTeam .summary .name {
  font-size: 1.5rem;
  padding: 3rem 0 1rem 0;
}
.theFoot {
  background-color: #ff570c;
  height: 8rem;
  text-align: center;
  color: #323643;
  font-size: 3rem;
  align-content: center;
}
@media (max-width: 500px) {
  .theFoot {
    margin-top: 4rem;
    padding: 2rem;
    border-top: 0.4rem solid #606470;
    height: 2rem;
  }
}
.theFoot .navFooter {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 3rem;
}
@media (max-width: 500px) {
  .theFoot .navFooter {
    justify-content: space-around;
    padding-top: 0;
  }
}
.theFoot .navFooter a {
  font-size: 1.5rem;
  color: #323643;
  text-decoration: none;
  font-family: Andale Mono;
  font-weight: bold;
}
